html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #151930;
    color: #f1faee;
    margin: 0;
    /* display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding-top: 20px; */
}

img {
    height: 100%;
    width: 100%;
    /* display: block; */
    transform: rotate(0deg);
}

/* Homepage */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* align-items: center;
    justify-content: center; */
}

#main-h1-container {
    padding: 4em 3em 0em 3em;
    font-size: 1.8rem;
    line-height: 1;
    text-align: center;
    z-index: 1;
}

#main-h1-container > h1 {
    font-weight: 600;
    line-height: 1.1;
    padding: 0 14rem;
    z-index: 2;
}

/* Chess App */
#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    /* margin-top: 4vmin; */
}

.main-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Main Chess App Styling */

#chess-app {
    /* width: 30%; */
    position: relative;
    margin-top: 1rem;
    background-color: #facb5d;
    border-radius: 1vmin;
    padding: 3vmin;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 14px 12px -11px #04232e93;
}

#interface-container {
    flex-direction: column;
}

#chessboard-backdrop {
    background-color: #ef476f;
    border-radius: 1vmin;
    width: 65vmin;
    height: 65vmin;
    display: flex;
    flex-direction: column;
    margin: 0;
    transform: rotate(0deg);
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% / 8);
}

.tile {
    width: 100%;
    height: 100%;
}

.tile-filter {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Square Styling */

.dark-square {
    background-color: #118ab2;
}

.light-square {
    background-color: #fffff0;
}

#a8 {
    border-top-left-radius: 1vmin;
}

#h8 {
    border-top-right-radius: 1vmin;
}

#a1 {
    border-bottom-left-radius: 1vmin;
}

#h1 {
    border-bottom-right-radius: 1vmin;
}

.moveable {
    background: radial-gradient(
        2.4vmin circle at 50% 50%,
        rgba(5, 195, 145, 0.396) 50%,
        transparent 0%
    );
}

.moveable-capturable-light-square {
    border-radius: 3vmin;
    background-color: #fffff0;
}

.moveable-capturable-dark-square {
    border-radius: 3vmin;
    background-color: #118ab2;
}

.moveable-capturable-parent-light-square {
    background-color: rgb(157, 209, 182);
}
.moveable-capturable-parent-dark-square {
    background-color: rgb(32, 183, 185);
}

.light-square-check {
    background: radial-gradient(
        35px circle at 30px 30px,
        rgba(202, 29, 6, 0.644) 33%,
        #fffff0
    );
}

.dark-square-check {
    background: radial-gradient(
        35px circle at 30px 30px,
        rgba(202, 29, 6, 0.774) 49%,
        #118ab2
    );
}

/* UI */
.user-interface {
    display: flex;
    flex-direction: column;
}

#opp-interface {
    margin-bottom: 0.5rem;
}

#player-interface {
    margin-top: 0.5rem;
}

.user-interface > * {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ui-row-2 {
    margin-top: 0.6rem;
}

.single-line-important-text {
    box-shadow: 0 7px 10px -9px rgba(0, 0, 0, 0.62);
    background-color: #f1faee;
    border: 1px solid transparent;
    border-radius: 12px;
    color: black;
    outline: none;
    padding: 0.3rem 8px;
    display: inline-block;
    overflow-wrap: break-word;
    font-size: 8px;
}

.multi-line-important-text {
    box-shadow: 0 7px 10px -9px rgba(0, 0, 0, 0.62);
    background-color: #f1faee;
    border: 1px solid transparent;
    border-radius: 12px;
    color: black;
    outline: none;
    padding: 10px 10px;
    margin-bottom: 0.5rem;
    height: 32px;
    width: 200px;
    display: inline-block;
    overflow-wrap: break-word;
    font-size: 8px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.redbtn {
    box-shadow: 0 7px 10px -9px rgba(0, 0, 0, 0.62);
    background-color: #ef476f;
    border: 1px solid transparent;
    border-radius: 50px;
    color: #f1faee;
    outline: none;
    padding: 5px 10px;
    margin: 0px;
    /* width: 10%; */
}

.redbtn:hover {
    transition: background-color 200ms ease-in-out;
    background-color: #cc3b5d;
    cursor: pointer;
}

.redbtn:active {
    transition: background-color 0ms;
    transform: translateY(0.1em);
    background-color: #8f2840;
    transform: scale(0.98);
}

.greenbtn {
    box-shadow: 0 7px 10px -9px rgba(0, 0, 0, 0.62);
    background-color: #06d6a0;
    border: 1px solid transparent;
    border-radius: 5em;
    color: #f1faee;
    outline: none;
    padding: 5px 10px;
}

.greenbtn:hover {
    transition: background-color 200ms ease-in-out;
    background-color: #05a77c;
    cursor: pointer;
}

.greenbtn:active {
    transition: background-color 0ms;
    transform: translateY(0.1em);
    background-color: #047758;
    transform: scale(0.98);
}

.history-btn {
    width: 47%;
}
.history-btn:nth-child(2) {
    margin-left: 0.2rem;
}

/* Sidebar */
.sidebar {
    border-radius: 10px;
    position: absolute;
    top: 15vh;
    left: 0px;
    background: #047758;
    min-height: 70vmin;
    width: 40vmin;
    padding: 3vmin;
    line-height: 1.5;
    transform: translateX(-46vmin);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.sidebar.show {
    transform: translateX(30px);
}

#chat-history {
    color: black;
    background-color: #f1f1f1;
    height: 200px;
    border-radius: 1rem;
    overflow: auto;
    transform: rotate(180deg);
    direction: rtl;
    margin-bottom: 0.5rem;
}

.message {
    font-size: small;
    transform: rotate(180deg);
    direction: ltr;
    border-radius: inherit;
}

.internal-msg {
    padding: 0rem 1rem;
}

.chat-name {
    font-weight: bold;
}

.chat-msg {
}

#msg-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#submit-msg {
    position: relative;
    bottom: 0.5rem;
    border-radius: 1rem;
    height: 2.1rem;
}

#msg {
    border-radius: 10px;
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 1px;
}

.settings-container:not(:first-child) {
    margin-top: 1rem;
}

#underpromotion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.sidebar-label {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#underpromotion {
    align-self: flex-start;
    border-radius: 5px;
    padding: 0rem 0.5rem;
    box-shadow: 0 7px 10px -9px rgba(0, 0, 0, 0.62);
    background-color: #f1f1f1;
}

#submit-resign {
    margin-left: 0.5rem;
}

/* Header */

header {
    align-self: center;
    padding: 2.4rem 2.8rem;
    line-height: 1.3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    /* position: sticky; */
    right: 0;
    top: 0;
    z-index: 5;
    box-shadow: 0px -12px 9px 5px rgba(0, 0, 0, 0);
    transition: 0.2s ease-in-out;
}

#main-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main-logo {
    width: 5vw;
    height: auto;
}

#logo-text {
    display: inline-block;
    outline: 0;
    color: inherit;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 600;
}

#opening-button {
    font-weight: 500;
    position: relative;
    top: 2rem;
    font-size: 60%;
    text-decoration: none;
    color: white;
    border: 2px solid #ffffff;
    padding: 1.5rem 2.5rem;
    border-radius: 3rem;
    background-color: #ffffff00;
    box-shadow: inset 0 0 0 2px #fff;
    transition: border 0.1s ease-in-out, color 0.3s ease-in-out,
        background-color 0.2s ease-in-out, box-shadow 0.3s ease,
        padding 0.1s ease;
}

#opening-button:hover {
    padding: 0rem, 0rem;
    border: 0px solid #ffffff00;
    color: black;
    background-color: white;
    transition: border 0.1s ease, color 0.3s ease, background-color 0.3s ease,
        box-shadow 0.3s, padding 0.3s ease;
}

#lobby-greeting {
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #f5f1f1e0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#start-new-game {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    background-color: #19bc9c;
    border-radius: 0.5rem;
}
